<% tournament_teams = tournament.teams %>
<div class="col-md-4" id="tournament-<%= tournament.id %>">
  <div class="panel panel-default">
    <div class="panel-body">
      <h4 class="media-heading">
        <%= tournament.name %>
      </h4>
      <span aria-hidden="true" class="glyphicon glyphicon-user"></span>
      <% teams_number = tournament_teams.count %>
      <% if teams_number.zero? %>
        Нет зарегистрированных команд
      <% else %>
        <%= link_to "#{teams_number} #{'team'.pluralize(teams_number)} registered", teams_path(tournament_id: tournament.id) %>
      <% end %>
      <br/>
      <% if current_user_have_team? %>
        <div class="pull-right">
          <% if tournament_teams.include?(current_user.team) %>
            <%= link_to 'Выйти', withdraw_team_tournament_path(tournament, team_id: current_user.team.id), method: :post, data: { confirm: 'Вы уверены ?' }, class: 'btn btn-danger btn-xs' %>
          <% else %>
            <%= link_to 'Зарегистрироваться', register_team_tournament_path(tournament, team_id: current_user.team.id), method: :post, class: 'btn btn-primary btn-xs' %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
